#!/usr/bin/make -f

export DH_GOLANG_EXCLUDES := cmd
export DH_GOLANG_INSTALL_EXTRA := fuzz/corpus/pg1661.txt

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_test:
	dh_auto_test -- -timeout 30m
